// BREAKPOINTS

$tablet: 770px;
$mobile: 600px;

// FUNCTIONS

@mixin tablet-responsive ($component) {

    @if $component=='structure-header' {
        @media screen and (max-width: $tablet) {
            display: block;
            justify-content: center;

            .struture-logo {
                img {
                    width: 350px;
                }
            }

            div {
                margin: 50px auto;
            }
        }
    }

    @if $component=='structure-logo' {
        @media screen and (max-width: $tablet) {
            margin: 20px auto;
        }
    }
}

@mixin animation-logo ($duration) {

    transition-property: transform;
    transition-duration: $duration+s;
    transition-timing-function: ease-out;
    -webkit-transition-property: transform;
    -webkit-transition-duration: $duration+s;
    transform: perspective(1px) translateZ(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transform: perspective(1px) translateZ(0);

    &:hover,
    &:focus,
    &:active {
        transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
    }
}

@mixin responsive-logo () {
    @media screen and (min-width: $tablet) {
        width: 150px;
    }

    @media screen and (max-width: $tablet) {
        width: 350px;
    }
}

@mixin responsive-button () {
    @media screen and (min-width: $tablet) {
        padding: 12px;
    }

    @media screen and (max-width: $tablet) {
        width: 210px;
        padding: 24px;

        a {
            font-size: 24px;
            letter-spacing: 1.5px;
        }
    }
}