<section>
    <header [style.background]="background">
        <div class="structure-header">
            <div class="structure-logo">
                <a href="#">
                    <img [src]="logo" alt="Logotipo da aplicação AppFly X. Clique se quiser voltar à página principal">
                </a>
            </div>
            <div class="structure-menu">
                <nav>
                    <ul>
                        <li> <a href="#"> {{optionHome}}     </a> </li>
                        <li> <a href="#"> {{optionAbout}}    </a> </li>
                        <li> 
                            <a href="#"> {{optionPage}} </a>
                            <img src="https://img.icons8.com/small/16/000000/expand-arrow.png" alt="">
                        </li>
                        <li> <a href="#"> {{optionFeatures}} </a> </li>
                        <li> <a href="#"> {{optionCart}}     </a> <p>(3)</p> </li>
                    </ul>
                </nav>
            </div>
            <div class="structure-btn">
                <button> <a href="https://www.apple.com/app-store/">Download</a> </button>
            </div>
        </div>
    </header>
</section>