<section>
    <header>
        <div class="structure-header">
            <div class="structure-logo">
                <a href="#">
                    <img src="https://daks2k3a4ib2z.cloudfront.net/60b0fc1ddfea6980daf21a18/626b3eee89bf7852bd4b27e8_applfy-x-webflow-template-logo-p-130x130q80.png" alt="">
                </a>
            </div>
            <div class="structure-menu">
                <nav>
                    <ul>
                        <li> <a href="#"> Home </a> </li>
                        <li> <a href="#"> About </a> </li>
                        <li> <a href="#"> Pages </a> <img src="https://img.icons8.com/small/16/000000/expand-arrow.png"
                                alt=""> </li>
                        <li> <a href="#"> Features </a> </li>
                        <li> <a href="#"> Cart </a>
                            <p>(3)</p>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="structure-btn">
                <button> <a href="https://www.apple.com/app-store/">Download</a> </button>
            </div>
        </div>
    </header>
</section>