<section>
    <header [style.background]="background">
        <div class="structure-header">
            <div class="structure-logo">
                <a href="#">
                    <img [src]="logo" alt="Logotipo da aplicação AppFly X. Clique se quiser voltar à página principal">
                </a>
            </div>
            <nav class="structure-menu">
                <a href="#" *ngFor="let item of options"> {{item.title}} </a>
            </nav>
            <div class="structure-btn">
                <button> <a href="https://www.apple.com/app-store/">Download</a> </button>
            </div>
        </div>
    </header>
</section>