@import './header.responsive.scss';
@import '../../../../assets/style-fonts/THICCCBOI/THICCCBOI.scss';

section {
    width: 100%;
    justify-content: center;

    header {
        width: 100%;
        margin: 0 auto;
        max-width: 1210px;

        .structure-header {
            width: 95%;
            display: flex;
            margin: 0 auto;
            padding: 25px 15px;
            justify-content: space-between;

            .structure-logo {
                display: flex;
                width: max-content;

                a {
                    margin: auto;

                    img {
                        margin: auto;
                        @include responsive-logo();
                        @include animation-logo(0.3);
                    }
                }
            }

            .structure-menu {
                width: 100%;
                display: flex;
                max-width: 500px;
                justify-content: center;

                nav {
                    width: 100%;
                    margin: auto;

                    ul {
                        width: 100%;
                        display: flex;
                        text-align: center;
                        justify-content: space-evenly;

                        li {
                            margin: auto;

                            a {
                                font-size: 20px;
                                color: #050229;
                                text-decoration: none;
                                font-family: 'THICCCBOI MEDIUM';
                            }

                            &:nth-child(3) {
                                img {
                                    width: 14px;
                                }
                            }

                            &:last-child {
                                width: 78px;
                                display: flex;
                                justify-content: space-between;

                                p {
                                    font-size: 20px;
                                    letter-spacing: 2px;
                                    font-family: 'THICCCBOI MEDIUM';
                                }
                            }
                        }
                    }
                }
            }

            .structure-btn {
                display: flex;
                width: max-content;

                button {
                    border: none;
                    margin: auto;
                    border-radius: 9px;
                    height: max-content;
                    background-color: black;

                    a {
                        color: #fff;
                        font-size: 18px;
                        letter-spacing: 1px;
                        text-decoration: none;
                        font-family: 'THICCCBOI BOLD';
                    }

                    @include responsive-button;
                }
            }

            @include tablet-responsive('structure-header');
        }
    }
}