
@font-face {
    font-family: 'THICCCBOI LIGHT';
    src: url('/assets/style-fonts/THICCCBOI/TTF/THICCCBOI-Light.ttf') format('truetype'), 
         url('/assets/style-fonts/THICCCBOI/Webfont/THICCCBOI-Light.woff2') format('opentype');
}

@font-face {
    font-family: 'THICCCBOI MEDIUM';
    src: url('/assets/style-fonts/THICCCBOI/TTF/THICCCBOI-Medium.ttf') format('truetype'), 
         url('/assets/style-fonts/THICCCBOI/Webfont/THICCCBOI-Medium.woff2') format('opentype');
}

@font-face {
    font-family: 'THICCCBOI BOLD';
    src: url('/assets/style-fonts/THICCCBOI/TTF/THICCCBOI-Bold.ttf') format('truetype'),
         url('/assets/style-fonts/THICCCBOI/Webfont/THICCCBOI-Bold.woff2') format('opentype');
}

@font-face {
    font-family: 'THICCCBOI REGULAR';
    src: url('/assets/style-fonts/THICCCBOI/TTF/THICCCBOI-Regular.ttf') format('truetype'),
         url('/assets/style-fonts/THICCCBOI/Webfont/THICCCBOI-Regular.woff2') format('opentype');
}

@font-face {
    font-family: 'THICCCBOI EXTRABOLD';
    src: url('/assets/style-fonts/THICCCBOI/TTF/THICCCBOI-ExtraBold.ttf') format('truetype'),
         url('/assets/style-fonts/THICCCBOI/Webfont/THICCCBOI-ExtraBold.woff2') format('opentype');
}
@font-face {
    font-family: 'THICCCBOI BLACK';
    src: url('/assets/style-fonts/THICCCBOI/TTF/THICCCBOI-Black.ttf') format('truetype'),
         url('/assets/style-fonts/THICCCBOI/Webfont/THICCCBOI-Black.woff2') format('opentype');
}

@font-face {
    font-family: 'THICCCBOI SEMIBOLD';
    src: url('/assets/style-fonts/THICCCBOI/TTF/THICCCBOI-SemiBold.ttf') format('truetype'),
         url('/assets/style-fonts/THICCCBOI/Webfont/THICCCBOI-SemiBold.woff2') format('opentype');
}

@font-face {
    font-family: 'THICCCBOI THICCCAF';
    src: url('/assets/style-fonts/TTF/THICCCBOI-ThicccAF.ttf') format('truetype'),
         url('/assets/style-fonts/Webfont/THICCCBOI-ThicccAF.woff2') format('opentype');
}

@font-face {
    font-family: 'THICCCBOI THIN';
    src: url('/assets/style-fonts/TTF/THICCCBOI-Thin.ttf') format('truetype'),
         url('/assets/style-fonts/Webfont/THICCCBOI-Thin.woff2') format('opentype');
}
