<header class="structure-container" [style.background]="background">
    <div class="structure-logo">
        <div class="structure-image">
            <a href="#"> <img [src]="logo" alt="Logo da Fylo"> </a>
        </div>
    </div>
    <div class="structure-menu">
        <nav>
            <ul>
                <li><a href="#">{{menuOptionOne}}</a></li>
                <li><a href="#">{{menuOptionTwo}}</a></li>
                <li><a href="#">{{menuOptionThree}}</a></li>
            </ul>
        </nav>
    </div>
</header>