<footer>
    <div class="structure-content">
        <div class="structure-container structure-logo">
            <div>
                <img src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/626b3eee89bf7852bd4b27e8_applfy-x-webflow-template-logo.png"
                    alt="Logo App Fly X">
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur
                    adipiscin eli a sit facilisis volutpat interdum non
                    a magna tempus amet velit dolor sit.
                </p>
            </div>
        </div>

        <div class="box-containers">
            <div class="structure-container structure-pages">
                <div class="structure-title">
                    <p>Pages</p>
                </div>
                <nav>
                    <ul>
                        <li> <a href=""> Home </a> </li>
                        <li> <a href=""> About </a> </li>
                        <li> <a href=""> Features </a> </li>
                        <li> <a href=""> Blog </a> </li>
                        <li> <a href=""> Blog Post </a> </li>
                    </ul>

                    <ul>
                        <li> <a href=""> Pricing </a> </li>
                        <li> <a href=""> Princing Single </a> </li>
                        <li> <a href=""> Jobs </a> </li>
                        <li> <a href=""> Jobs Single </a> </li>
                        <li> <a href=""> Contact </a> </li>
                    </ul>
                </nav>
            </div>

            <div class="structure-container structure-utility-pages">
                <div class="structure-title">
                    <p>Utility Pages</p>
                </div>
                <nav>
                    <ul>
                        <li> <a href=""> 404 Not Found </a> </li>
                        <li> <a href=""> Password Protected </a> </li>
                        <li> <a href=""> Licences </a> </li>
                        <li> <a href=""> Style Guide </a> </li>
                        <li> <a href=""> Start Here </a> </li>
                        <li> <a href=""> Changelog </a> </li>
                    </ul>
                </nav>
                <div class="structure-more-templates">
                    <a href="">Browse More Templates</a>
                </div>
            </div>

            <div class="structure-container structure-social-network">
                <div class="structure-title">
                    <p>Follow us</p>
                </div>
                <nav>
                    <ul>
                        <li> <a href="https://www.facebook.com/"> <img
                                    src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b1826707fc3f3e31973598_icon-1-social-media-app-x-template.svg"
                                    alt="Ícone com link para o Facebook da aplicação"> </a> <a
                                href="https://www.facebook.com/">Facebook</a> </li>
                        <li>
                            <a href="https://twitter.com/"> <img
                                    src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b182673d05be5777284bc2_icon-2-social-media-app-x-template.svg"
                                    alt="Ícone com link para o Twitter da aplicação"> </a> <a
                                href="https://www.twitter.com/">Twitter</a> </li>
                        <li> <a href="https://www.instagram.com/"> <img
                                    src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b182678e93f1c70389c07e_icon-3-social-media-app-x-template.svg"
                                    alt="Ícone com link para o Instagram da aplicação"> </a> <a
                                href="https://www.instagram.com/">Instagram</a> </li>
                        <li> <a href="https://www.linkedin.com/"> <img
                                    src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b182677301bb0aad918c6d_icon-4-social-media-app-x-template.svg"
                                    alt="Ícone com link para o Linkedin da aplicação"> </a> <a
                                href="https://www.linkedin.com/">LinkedIn</a> </li>
                        <li> <a href="https://www.youtube.com/"> <img
                                    src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b182687301bb71e9918c6e_icon-5-social-media-app-x-template.svg"
                                    alt="Ícone com link para o Youtube da aplicação"> </a> <a
                                href="https://www.youtube.com/">YouTube</a> </li>
                        <li> <a href="https://www.whatsapp.com/"> <img
                                    src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b18267be705fc66d63a0d3_icon-6-social-media-app-x-template.svg"
                                    alt="Ícone com link para o WhatsApp da aplicação"> </a> <a
                                href="https://www.whatsapp.com/">Whatsapp</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="structure-copyright">
        <div class="structure-box">
            <p>Copyright © Appfly X</p>
        </div>
        <div class="divider-copyright"></div>
        <div class="structure-box">
            <p>Designed by <a href="https://brixtemplates.com/">BRIX Templates</a> - Powered by <a
                    href="https://webflow.com/dashboard?r=1">Webflow</a></p>
        </div>
    </div>
</footer>