<footer>
    <div class="structure-content">
        <div class="structure-container structure-logo">
            <div>
                <img src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/626b3eee89bf7852bd4b27e8_applfy-x-webflow-template-logo.png"
                    alt="">
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur <br>
                    adipiscin eli a sit facilisis volutpat interdum non <br>
                    a magna tempus amet velit dolor sit.
                </p>
            </div>
        </div>

        <div class="structure-container structure-pages">
            <div class="structure-title">
                <p>Pages</p>
            </div>
            <nav>
                <ul>
                    <li> Home </li>
                    <li> About </li>
                    <li> Features </li>
                    <li> Blog </li>
                    <li> Blog Post </li>
                </ul>

                <ul>
                    <li>Pricing</li>
                    <li>Princing Single</li>
                    <li>Jobs</li>
                    <li>Jobs Single</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </div>

        <div class="structure-container structure-utility-pages">
            <div class="structure-title">
                <p>Utility Pages</p>
            </div>
            <nav>
                <ul>
                    <li> 404 Not Found </li>
                    <li> Password Protected </li>
                    <li> Licences </li>
                    <li> Style Guide </li>
                    <li> Start Here </li>
                    <li> Changelog </li>
                </ul>
            </nav>
            <div class="structure-more-templates">
                <a href="">Browse More Templates</a>
            </div>
        </div>

        <div class="structure-container structure-social-network">
            <div class="structure-title">
                <p>Follow us</p>
            </div>
            <nav>
                <ul>
                    <li> <a href="https://www.facebook.com/"> <img
                                src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b1826707fc3f3e31973598_icon-1-social-media-app-x-template.svg"
                                alt=""> </a> Facebook </li>
                    <li> <a href="https://twitter.com/"> <img
                                src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b182673d05be5777284bc2_icon-2-social-media-app-x-template.svg"
                                alt=""> </a> Twitter </li>
                    <li> <a href="https://www.instagram.com/"> <img
                                src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b182678e93f1c70389c07e_icon-3-social-media-app-x-template.svg"
                                alt=""> </a> Instagram </li>
                    <li> <a href="https://www.linkedin.com/"> <img
                                src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b182677301bb0aad918c6d_icon-4-social-media-app-x-template.svg"
                                alt=""> </a> LinkedIn </li>
                    <li> <a href="https://www.youtube.com/"> <img
                                src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b182687301bb71e9918c6e_icon-5-social-media-app-x-template.svg"
                                alt=""> </a> YouTube </li>
                    <li> <a href="https://www.whatsapp.com/"> <img
                                src="https://uploads-ssl.webflow.com/60b0fc1ddfea6980daf21a18/60b18267be705fc66d63a0d3_icon-6-social-media-app-x-template.svg"
                                alt=""> </a> Whatsapp </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="divider"></div>

    <div class="structure-container-copyright">
        <div class="structure-box">
            <p>Copyright © Appfly X</p>
        </div>
        <div class="divider-copyright"></div>
        <div class="structure-box">
            <p>Designed by <a href="https://brixtemplates.com/">BRIX Templates</a> - Powered by <a
                    href="https://webflow.com/dashboard?r=1">Webflow</a></p>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</footer>