<footer>
    <div class="structure-content">
        <div class="structure-container structure-logo">
            <div> <img [src]="logo" alt="Logotipo da aplicação AppFly X"> </div>
            <div> <p>{{description}}</p> </div>
        </div>

        <div class="box-containers">
            <div class="structure-container structure-pages">
                <div class="structure-title"> <p> {{titlePage}} </p> </div>
                <nav>
                    <ul>
                        <li *ngFor="let item of listPage; let i= index;"> <a href="" *ngIf="i<5"> {{item.title}} </a> </li>
                    </ul>
                    <ul>
                        <li *ngFor="let item of listPage; let i= index;"> <a href="" *ngIf="i>4"> {{item.title}} </a> </li>
                    </ul>
                </nav>
            </div>

            <div class="structure-container structure-utility-pages">
                <div class="structure-title"> <p> {{titleUtilPage}} </p> </div>
                <nav>
                    <ul>
                        <li *ngFor="let item of listUtilPage"> <a href=""> {{item.name}} </a> </li>
                    </ul>
                </nav>
                <div class="structure-more-templates"> <a [href]="moreTemplateLink">{{moreTemplateText}}</a> </div>
            </div>

            <div class="structure-container structure-social-network">
                <div class="structure-title"> <p> {{titleSocialNetwork}} </p> </div>
                <nav>
                    <ul>
                        <li *ngFor="let socialNetwork of listSocialNetwork"> 
                            <a [href]='socialNetwork.link'>
                                <img [src]='socialNetwork.image' alt="Ícone com link para o Facebook da aplicação"> </a> 
                            <a href=""> {{socialNetwork.name}} </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="structure-copyright">
        <div class="structure-box">
            <p>Copyright © Appfly X</p>
        </div>
        <div class="divider-copyright"></div>
        <div class="structure-box">
            <p>Designed by <a href="https://brixtemplates.com/">BRIX Templates</a> - Powered by <a
                    href="https://webflow.com/dashboard?r=1">Webflow</a></p>
        </div>
    </div>
</footer>